<div class="container text-center">
  <h1>Voici notre équipe</h1>
  <p>here is the team :
    <ul>
      <% @members.each do |member| %>
      <li> Membre : <%= member %></li>
      <% end %>

    </ul>



  </p>



</div>
